  <div id="banner"
    class="position-relative d-flex align-items-center justify-content-center mb-5"
    style="height: 500px;
           background: url('<%= asset_path('theatre.jpg') %>') center/cover no-repeat;"
  >
    <h1 class="text-white">Movie Collections</h1>
    <h2 class="position-absolute bottom-0 end-0 p-3">
      <%= link_to new_list_path do %>
        <button type="button" class="btn btn-secondary btn-lg">
          Create New List
        </button>
      <% end %>
    </h2>
  </div>

<div class="container">
  <div class="row">
    <% @lists.each do |list| %>
    <div class="col-sm">
    <div class="card" style="width: 18rem;">
      <img class="card-img-top" src="https://image.tmdb.org/t/p/w500<%=list.movies.first&.poster_url%>" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title"><%= list.name %></h5>
        <p class="card-text"> <%= list.description %> </p>
        <%= link_to 'See list', list_path(list) %>
      </div>
      </div>
    </div>
    <% end %>
  </div>
</div>
